* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    background-color: #30044b;
}

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
h1 {
    font-family: 'Indie Flower', cursive;
    color: #ff647e;
}

header {
    background-color: #30044b;
    /* padding: 10px; */
    height: 70px;
    width: 100%; 
    margin: 0;
    /* display:block;
    margin-left: auto;
    margin-right: auto; */
    top: 0%;
}

header img{
    height: 100%;
    width: 150px;
    float: left;
    /* padding-left: 20px; */
   
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header li {
    float: right;
    
}

header li a {
    display: block;
    padding: 8px; 
    color: #ff647e;
    text-decoration: none;
}

/* .hero-image{
    background-image: linear-gradient(rgba(0,0,0.7),rgba(0,0,0, 0.7)), url("img\Purple.Crochet.Ripple.Blanket.jpg");
    width: 100%;
    height: 400px;
} */

.hero-image {
    width: 100%;
    height: 400px;
    background-image: url(../img/Purple.Crochet.Ripple.Blanket.jpg);
    background-size: cover;
    /* background-size: ; */
}



/* body{
   margin: 0;
   padding: 0;
   height: 100vh;
   font-family: 'Indie Flower', cursive;
} */

footer {
    width: 100%;
    /* padding: 10px; */
    background-color: #ff647e;
    position: absolute;
    bottom: 0%;
    
      
}

.fa-brands {
    text-align: center;     
}

p {
    color: #ff647e;
}

ol {
    color:#ff647e
}

ul {
    color:#ff647e
}

iframe{
    margin:auto;
}